<section class="todoapp">
    <header class="header">
        <h1> TASKS</h1>
        <form id="new-form">
          <input type="text" class="new-todo" placeholder="What needs to be done?" />
        </form>
    </header>
    
    <section class="main">
        <ul class="task-list">
            
        </ul>
    </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Ursula Moreno", "http://github.com/ulalu" %>
</section>

